<!-- start contact logs button -->

<div class="btn-group">

	{% if not add_button|default:False %}
		<div class="btn-group">
		  <a title="Add {{ title|lower }}" type="button" class="btn {% if contact_obj %}btn-success disabled{% else %}btn-warning{% endif %} btn-sm dropdown-toggle"
		    href="{{ contact_obj.href }}">
		      <i class="fa fa-plus"></i>
		  </a>
		</div>
	{% else %}
		<div class="btn-group">
		  <a title="Add {{ title|lower }}" type="button" class="btn btn-success disabled btn-sm dropdown-toggle"
		    href="">
		      <i class="fa fa-plus"></i>
		  </a>
		</div>
	{% endif %}

	<button title = "{{ title|default:'Contacts' }}" type="button" class="btn btn-default btn-sm">
	  <i class="fa fa-phone fa-lg"></i> <i class="fa fa-history fa-lg"></i> {{ contact_objects|length }}</button>
	<div class="btn-group">
	  <button title="Contacts" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span></button>
	      <ul class="dropdown-menu" role="menu">
	        <li class="dropdown-header">{{ title|default:"Contacts" }}</li>
	        {% for obj in contact_objects %}
	          <li>
				  <a href="{{ obj.get_absolute_url }}?next={{ obj.next_url }}&{{ obj.querystring }}">
					  {{ obj.object.contact_datetime }}
	              </a></li>
	        {% endfor %}
	      </ul>
	</div>
</div>
<!-- end contact logs button -->
