git+https://github.com/botswana-harvard/edc-dashboard.git@develop#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-model-wrapper.git@develop#egg=edc_model_wrapper
git+https://github.com/botswana-harvard/edc-navbar.git@develop#egg=edc_navbar
git+https://github.com/botswana-harvard/edc-call-manager@develop#egg=edc_call_manager
jsonpickle
git+https://github.com/botswana-harvard/edc-search.git@develop#egg=edc_search
git+https://github.com/botswana-harvard/django-crypto-fields@master#egg=django_crypto_fields
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc_constants
git+https://github.com/botswana-harvard/edc-protocol@develop#egg=edc-protocol
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc_device
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-model-admin@develop#egg=edc_model_admin
git+https://github.com/botswana-harvard/edc-registration@develop#egg=edc_registration
git+https://github.com/botswana-harvard/edc-locator@develop#egg=edc_locator
git+https://github.com/flourishbhp/flourish-caregiver.git@develop#egg=flourish_caregiver
git+https://github.com/botswana-harvard/edc-visit-schedule.git@develop#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@develop#egg=edc_visit_tracking
git+https://github.com/botswana-harvard/edc-appointment.git@develop#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-facility.git@develop#egg=edc_facility
git+https://github.com/botswana-harvard/edc-consent.git@develop#egg=edc_consent
git+https://github.com/botswana-harvard/edc-metadata.git@develop#egg=edc_metadata
git+https://github.com/botswana-harvard/edc-reference.git@develop#egg=edc_reference
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc_lab
git+https://github.com/botswana-harvard/edc-label.git@develop#egg=edc_label
git+https://github.com/botswana-harvard/edc-metadata-rules.git@develop#egg=edc_metadata_rules
git+https://github.com/botswana-harvard/edc-timepoint.git@develop#egg=edc_timepoint
git+https://github.com/botswana-harvard/edc-form-validators.git@develop#egg=edc_form_validators
git+https://github.com/botswana-harvard/edc-fieldsets.git@develop#egg=edc_fieldsetss	