{% load crispy_forms_tags %}
{% load flourish_follow_extras %}
<div class="panel panel-default">
    <div class="panel-heading">
    <b>Reset participants</b>
    </div>
    <div class="panel-body">
    
    <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ reset_assignment_form.username|as_crispy_field }}
      </div>
	    <div class="form-group col-md-6 mb-0">
	    <button type="submit" disabled="true" class="btn btn-primary">reset</button>
	 	</div> 
 	</div>
 	</form>
	</div>
</div>