<div id="div-home-right" class="col-md-4">

       <div class="panel panel-warning">
       <div class="panel-heading">Statistics</div>
        <div class="panel-body"> 
        	<ul class="list-group">
			  <li class="list-group-item">
			    <span class="badge badge-error">{{ total_locators }}</span>
			   Total locators:
			  </li>
			  <li class="list-group-item">
			    <span class="badge badge-success">{{ total_assigned }}</span>
			   Assigned participants:
			  </li>
			  <li class="list-group-item">
			  <span class="badge badge-success">{{ available_participants }}</span>
			  	Un-assigned participants:
			  </li>
			  <li class="list-group-item">
			  <span class="badge badge-success">2</span>
			  	Successful calls:
			  </li>
			 </ul>
        </div>
       </div>
   </div>