{% extends 'edc_base/base.html' %}

{% load static %}

{% block extra-scripts %}
{{ block.super }}
<script>

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $("#success-alert").fadeTo(1000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
    });    
});

</script>
{% endblock extra-scripts %} 

{% block extra-styles %}
{{ block.super }}
<style>
  .panel-extended {
    min-height: 200px;
    overflow-y: scroll;
  }
  </style>
{% endblock %}



{% block topbar_navbar_extra_items %}

    {{ block.super }}
    {{ navbar.name }}

{% endblock topbar_navbar_extra_items %}


{% block modals %}

{{ block.super }}
    {% include 'flourish_follow/help_modal.html' %}
{% endblock modals %}