{% extends "edc_dashboard/listboard.html" %}

{% load edc_dashboard_extras %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load crispy_forms_tags %}
{% load flourish_dashboard_extras %}
{% load flourish_follow_extras %}

{% block extra-scripts %}
	{{ block.super }}
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#item-identifiers').DataTable();
	} );
	</script>

	<script type="text/javascript">

	  jQuery(function() {
	    jQuery('#users').change(function() {
	        this.form.submit();
	    });
	});
	</script>
<style>
    body{
    margin-top:20px;
    background:#FAFAFA;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
</style>
{% endblock extra-scripts %}

{% block main %}
{% block extra_content%}
<h2>Screening bookings</h2>
<br>

<div class="panel panel-info">
  <div class="panel-heading">
      <div class="panel-body">
       <!-- begin panel_action_buttons -->
        <span class="glyphicon glyphicon-ok-sign"></span> Done <span class="badge">{{done}}</span> / <span class="badge">{{total_bookings}}</span>
        <span class="glyphicon glyphicon-adjust"></span> Pending <span class="badge">{{pending}}</span> / <span class="badge">{{total_bookings}}</span>
        <span class="glyphicon glyphicon-remove"></span> Re Schedule <span class="badge">{{cancelled}}</span> / <span class="badge">{{total_bookings}}</span>
        <a class="btn btn-primary btn-sm" href="{% url 'flourish_follow:flourish_follow_book_listboard_url' %}" role="button">booking list</a>
        &nbsp;&nbsp;
        <hr>
       <!-- end panel_action_buttons -->  
	       		<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Booking days</th>
				      <th scope="col">Total booked</th>
				      <th scope="col">Done</th>
				      <th scope="col">Pending</th>
				      <th scope="col">Cancelled</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>Today</td>
				      <td>{{ booked_today }}</td>
				      <td>{{ booked_today_done }}</td>
				      <td>{{ booked_today_pending }}</td>
				      <td>{{ booked_today_cancelled }}</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>Tomorrow</td>
				      <td>{{ booked_tomorrow }}</td>
				      <td>{{ booked_tomorrow_done }}</td>
				      <td>{{ booked_tomorrow_pending }}</td>
				      <td>{{ booked_tomorrow_cancelled }}</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>This Week</td>
				      <td>{{ booked_this_week }}</td>
				      <td>{{ booked_this_week_done }}</td>
				      <td>{{ booked_this_week_pending }}</td>
				      <td>{{ booked_this_week_cancelled }}</td>
				    </tr>
				  </tbody>
				</table>
      </div>
  </div>
</div>

{% if results %}
<div class="panel-heading">
    <div class="panel-body">
        <span class="pull-right">
		    {% block listboard_search_form %}
		        {% include 'edc_dashboard/search_form.html' %}
		    {% endblock listboard_search_form %}
		</span>
		<!-- end search form -->
    </div>
</div>
{% endif %}

<div class="row">
      {% for booking in results %}
        <div class="col-md-4 col-xl-3">
            <div {% if booking.appt_status == 'done' %}class="card bg-c-green order-card" {% elif booking.appt_status == 'pending' %}class="card bg-c-yellow order-card" {% elif booking.appt_status == 'cancelled' %}class="card bg-c-pink order-card" {% else %}class="card bg-c-blue order-card"{%endif%}>
                <div class="card-block">
                <a id="booking_change_{{ subject_cell }}" title="{{ title }}" role="button" 
	   class="btn btn-default btn-sm"
	       href="{{ booking.href }}">
	    <i class="fa fa-pencil-alt fa-sm"></i>
	</a> <b>Status:</b> {{booking.appt_status}}
                    <h4 class="m-b-20"><b>{{booking.first_name}} {{booking.last_name}}</b></h4>
                    <p class="m-b-0"><b>Contact #: {{booking.subject_cell}}</b></p>
                    <p class="m-b-0"><b>Date: {{booking.booking_date}}</b></p>
                    <p class="m-b-0"><b>Status: {{booking.appt_status}}</b></p>
                    <p class="m-b-0"><b>App type: {{booking.appt_type}}</b></p>
                    <br>
                    <a class="btn btn-success" href="{% url 'flourish_follow:flourish_follow_booking_listboard_url' %}?status=done&subject_cell={{ booking.subject_cell }}" role="button">Done</a>
                    <span class="f-right"><a class="btn btn-danger" href="{% url 'flourish_follow:flourish_follow_booking_listboard_url' %}?status=cancelled&subject_cell={{ booking.subject_cell }}" role="button">Re Schedule</a></span>
                </div>
            </div>
        </div>
    {% endfor %}        
    
</div>
{% endblock extra_content %}
{% paginator_row %}
{% endblock main %}