{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load crispy_forms_tags %}
{% load flourish_dashboard_extras %}
{% load flourish_follow_extras %}

{% block extra-scripts %}
	{{ block.super }}
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#item-identifiers').DataTable();
	} );
	</script>

{% endblock extra-scripts %}
{% block extra_content%}
	<br>
<div class="panel panel-info">
  <div class="panel-heading">
      <div class="panel-body">
       <!-- begin panel_action_buttons -->
        <span class="glyphicon glyphicon-ok-sign"></span> Done <span class="badge">{{done}}</span> / <span class="badge">{{total_bookings}}</span>
        <span class="glyphicon glyphicon-adjust"></span> Pending <span class="badge">{{pending}}</span> / <span class="badge">{{total_bookings}}</span>
        <span class="glyphicon glyphicon-remove"></span> Cancelled <span class="badge">{{cancelled}}</span> / <span class="badge">{{total_bookings}}</span>
        <a class="btn btn-primary btn-sm" href="{% url 'flourish_follow:flourish_follow_booking_listboard_url' %}" role="button">booking cards</a>
        &nbsp;&nbsp;
        <hr>
       <!-- end panel_action_buttons -->  
	       		<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Booking days</th>
				      <th scope="col">Total booked</th>
				      <th scope="col">Done</th>
				      <th scope="col">Pending</th>
				      <th scope="col">Cancelled</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>Today</td>
				      <td>{{ booked_today }}</td>
				      <td>{{ booked_today_done }}</td>
				      <td>{{ booked_today_pending }}</td>
				      <td>{{ booked_today_cancelled }}</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>Tomorrow</td>
				      <td>{{ booked_tomorrow }}</td>
				      <td>{{ booked_tomorrow_done }}</td>
				      <td>{{ booked_tomorrow_pending }}</td>
				      <td>{{ booked_tomorrow_cancelled }}</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>This Week</td>
				      <td>{{ booked_this_week }}</td>
				      <td>{{ booked_this_week_done }}</td>
				      <td>{{ booked_this_week_pending }}</td>
				      <td>{{ booked_this_week_cancelled }}</td>
				    </tr>
				  </tbody>
				</table>
      </div>
  </div>
</div>
{% endblock extra_content %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th>Edit</th>
    <th>Names</th>
    <th>Appt Status</th>
    <th>Appt type</th>
	<th>Cell Number</th>
	<th>Booked Date</th>
    <!-- end results header -->
{% endblock listboard_table_header %}

{% block listboard_table_button_column %}
    <td>
	<a id="booking_change_{{ subject_cell }}" title="{{ title }}" role="button" 
	   class="btn btn-default btn-sm"
	       href="{{ result.href }}">
	    <i class="fa fa-pencil-alt fa-sm"></i>
	   <a class="btn btn-success btn-sm" href="{% url 'flourish_follow:flourish_follow_book_listboard_url' %}?status=done&subject_cell={{ result.subject_cell }}" role="button">Done</a>
	   <span class="f-right"><a class="btn btn-danger btn-sm" href="{% url 'flourish_follow:flourish_follow_book_listboard_url' %}?status=cancelled&subject_cell={{ result.subject_cell }}" role="button">Re Schedule</a></span>
	</td>
{% endblock listboard_table_button_column %}

{% block listboard_table_columns %}
	<td>{{result.first_name}} {{result.middle_name}} {{result.last_name}}</td>
	<td>{{ result.appt_status }}</td>
	<td>{{ result.appt_type }}</td>
    <td>{{ result.subject_cell  }}</td>
    <td>{{result.booking_date}}</td>
{% endblock listboard_table_columns %}
